@model IEnumerable<BookViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="books"">
    <h4>List of available books</h4>
     <table class="table-index">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
            <th>Published date</th>
            <th>Last updated</th>
            <th>Actions</th>
        </tr>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Description</td>
                <td>@book.PublishDate</td>
                <td>@book.Updated</td>
                <td>
                    <a href="">Cover image</a>
                    <a href="">Book</a>
                    <a href="@Url.Action("update","home", new {id = book.Id})">Edit</a>
                    <a href="">Delete</a>
                </td>
            </tr>
        } 
    </table>
    <div class="create-book">
        <a href="@Url.Action("create","home")">Create book</a>
    </div>
</div>
